{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registration" %}{% endblock %}

{% block content %}

<h1>{% trans "Create Your Account" %}</h1>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<form class="registration" id="registration_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Create Your Account" %}</button>
</form>
{% endblock %}