{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 signup-image-container">
            <a href="#">
                <img src="https://i.imgur.com/j6VY0qL.jpg" alt="Your Image Description" class="img-fluid">
            </a>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Create Your Account" %}</h1>
            <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="registration" id="registration_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group mx-auto" style="width:100%">
                    {{ form.as_p }}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{% trans "Create Your Account" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}