{% extends 'base.html' %}

{% block content %}
    <h2>Posts in category: {{ category.name }}</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}